* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090909;
  color: white;
  font-family: Georgia, serif;
  overflow-x: hidden;
}

input {
  background: transparent;
  color: white;
}

button {
  cursor: pointer;
}